APP_NAME=KetelOfferte24
APP_ENV=production
APP_URL=https://ketelofferte24.nl

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=ketels
DB_USERNAME=ketel24
DB_PASSWORD=change-me

ADMIN_EMAIL=admin@ketelofferte24.nl
MAIL_FROM_EMAIL=no-reply@ketelofferte24.nl
MAIL_FROM_NAME=KetelOfferte24.nl
ADMIN_NOTIFICATION_EMAIL=offerte@ketelofferte24.nl
